@model IEnumerable<WebApplication1.St>
@{
    ViewBag.Title = "loged";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Chrome, Firefox OS and Opera mobile address bar theming -->
    <meta name="theme-color" content="#000000">
    <!-- Windows Phone mobile address bar theming -->
    <meta name="msapplication-navbutton-color" content="#000000">
    <!-- iOS Safari mobile address bar theming -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

    <!-- SEO -->
    <meta name="description" content="Halfmoon is a responsive front-end framework that is great for building dashboards and tools. Built-in dark mode, full customizability using CSS variables (around 1,500 variables), optional JavaScript library (no jQuery), Bootstrap like classes, and cross-browser compatibility (including IE11).">
    <meta name="author" content="Halfmoon">
    <meta name="keywords" content="Halfmoon, HTML, CSS, JavaScript, CSS Framework, dark mode, dark-mode, darkmode, dark theme, dark-theme, darktheme, Bootstrap, Foundation, Bulma, dashboard, UI, UI framework, user interface, design, design system">

    <!-- Open graph -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.gethalfmoon.com/page-sections-demo/?sidebar-type=overlayed-sm-and-down&amp;show-alert=yes">
    <meta property="og:title" content="Front-end framework with a built-in dark mode and full customizability using CSS variables; great for building dashboards and tools">
    <meta property="og:description" content="Halfmoon is a responsive front-end framework that is great for building dashboards and tools. Built-in dark mode, full customizability using CSS variables (around 1,500 variables), optional JavaScript library (no jQuery), Bootstrap like classes, and cross-browser compatibility (including IE11).">
    <meta property="og:image" content="https://res.cloudinary.com/halfmoon-ui/image/upload/v1599770364/halfmoon-og-image-1.1.0_uofgby.png">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="fb:app_id" content="2560228000973437">


    <!-- Fav and Title -->
    <link rel="icon" href="/static/halfmoon/img/halfmoon-fav-alt.png">
    <title>Page sections demo - Halfmoon</title>

    <!-- Halfmoon -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <!-- Roboto font (Used when Apple system fonts are not available) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Documentation styles -->
    <link href="/static/site/css/documentation-styles-4.css" rel="stylesheet">
</head>

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">

    <!-- Page wrapper start -->
    <div id="page-wrapper" class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-sm-and-down">

        <!-- Sticky alerts -->
        <div class="sticky-alerts"></div>

        <!-- Navbar start -->
        <nav class="navbar">
            <div class="navbar-content">
                <button id="toggle-sidebar-btn" class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <a href="#" class="navbar-brand ml-10 ml-sm-20">

                <span class="d-none d-sm-flex">Adam's Project</span>
            </a>
            <div class="navbar-content ml-auto">
                <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                    <span class="sr-only">Toggle dark mode</span>
                </button>
                <a href="/Pr/login" class="bg-red-500 py-2 px-4 text-white rounded-lg" role="button">Disconnect</a>
            </div>
        </nav>
        <!-- Navbar end -->
        <!-- Sidebar overlay -->
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

        <!-- Sidebar start -->
        <div class="sidebar">
            <div class="sidebar-menu">

                <h5 class="sidebar-title">@ViewBag.user</h5>
                <div class="sidebar-divider"></div>
                <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                    </span>
                    Manage Students
                </a>
                <a href="/Pr/plagehoraire" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </span>
                    Reservations Room
                </a>

                <a href="#" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </span>
                    Inbox
                </a>
            </div>
        </div>
        <!-- Sidebar end -->
        <!-- Content wrapper start -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row row-eq-spacing-lg">
                    <div class="col-lg-9">
                        <div class="content">
                            <h1 class="content-title">
                                List Of All Students
                            </h1>
                            <div class="fake-content"></div>
                            <div class="fake-content"></div>
                        </div>
                        <div class="card">
                            <h2 class="card-title">
                                Actions to access the rights to the room
                            </h2>
                            <div class="fake-content flex justify-around">

                                <ul class="w-full divide-y divide-gray-200 mt-10 dark:divide-gray-700">
                                    @foreach (var elm in Model)
                                    {
                                        <form action="/Pr/listStudents" method="POST">


                                        <li class="pb-3 sm:pb-4">
                                            <div class="flex items-center space-x-4">

                                                <div class="flex-1 min-w-0">
                                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                        @elm.user
                                                    </p>
                                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                        @elm.email
                                                    </p>
                                                </div>
                                                @if (elm.auto == "access")
                                                {

                                                    <div class="inline-flex items-center text-base font-semibold text-green-500 dark:text-green-500">
                                                        <p>Access</p>
                                                        <button type="submit" name="Idst" value="sus @elm.IdSt" class="mt-3 ml-3 w-20 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">Suspend</button>
                                                        <button type="submit" name="Idst" value="del @elm.IdSt" class="mt-3 ml-1 w-20 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button>

                                                    </div>
                                                }
                                                else if (elm.auto == "no")
                                                {
                                                    <div class="inline-flex items-center text-base font-semibold text-red-500 dark:text-red-500">
                                                        No Access
                                                        <button type="submit" name="Idst" value="add @elm.IdSt" class="mt-3 ml-3 w-20 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-400 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
                                                        <button type="submit" name="Idst" value="sus @elm.IdSt" class="mt-3 ml-1 w-20 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">Suspend</button>
                                                    </div>
                                                }
                                                else if (elm.auto == "sus")
                                                {
                                                    <div class="inline-flex items-center text-base font-semibold text-orange-500 dark:text-orange-500">
                                                        Suspended
                                                        <button type="submit" name="Idst" value="add @elm.IdSt" class="mt-3 ml-3 w-20 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-400 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
                                                        <button type="submit" name="Idst" value="del @elm.IdSt" class="mt-3 ml-1 w-20 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button>
                                                    </div>
                                                }


                                            </div>
                                        </li>

                                        </form>
                                    }



                                </ul>
                            </div>
                            <div class="fake-content"></div>
                            <div class="fake-content"></div>


                        </div>
                        <div class="content">
                            <div class="fake-content"></div>
                            <div class="fake-content w-150"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="content">
                            <h2 class="content-title font-size-20">
                            </h2>
                            <div class="fake-content"></div>
                            <div class="fake-content"></div>
                            <div class="fake-content"></div>
                            <div class="fake-content"></div>
                            <div class="fake-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Page wrapper end -->
    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>

</body>

</html>